@model IEnumerable<Portfolio.Web.Core.Certificate>

@{
    ViewData["Title"] = "Certificates";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Certificates</h4>

<p>
    <a asp-action="AddCertificate">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAwarded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAwarded)
            </td>
            <td>
                <a asp-action="EditCertificate" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Certificate" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
