@model IEnumerable<Portfolio.Web.Core.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p class="text-right">
    <a asp-action="AddNewProject" asp-controller="admin">Add New Project</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-right"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="text-right">
                <a asp-action="EditProject" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Project" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
